.roadmap {
  min-height: calc(100vh - 120px);
  transition: 0.3s;
}
.roadmap .left {
  padding: 5px;
  flex: 1;
  transition: 0.3s;
}

.class__head {
  background: var(--theme);
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  height: 80px;
}
.play__btn {
  height: 48px;
  padding: 16px 24px;
  border-radius: 8px;
  background-color: #2ed16c;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  border: 0;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.6);
  transition: 0.3s;
}
.play__btn:hover {
  scale: 1.1;
}
.recording__link {
  text-decoration: none;
  word-wrap: break-word;
  transition: 0.3s;
}
.recording__link:hover {
  color: var(--theme) !important;
  text-shadow: 0 0 1px #000;
}
.session__container {
  width: 100%;
  margin-top: 10px;
  background: #fff;
  border: 1px solid #dedede;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
}
.session__area {
  margin: 20px;
}
.session__details {
  color: var(--secondary);
}
.session__title {
  font-weight: 500;
  word-wrap: break-word;
  font-size: 24px;
}
.session__content {
  font-weight: 500;
}
.session__content__details {
  font-size: 14px;
  padding-left: 20px;
}
.roadmap__container {
  margin-top: 5px;
}
.roadmap__area {
  border: 1px solid #dedede;
  border-radius: 8px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  width: 386px;
}
.progress__head {
  height: 49px;
  background: #f7f5fc;
  border-radius: 8px 8px 0 0;
  padding: 10px;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--secondary);
}
.sessionsContainer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 32px;
  row-gap: 16px;
  justify-items: center;
  padding: 16px 32px;
}
.roadmap_icon_container {
  border: 2px solid #4b0dba;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}
.roadmap_icon_container:hover {
  box-shadow: 0 0 15px 2px var(--green);
  scale: 1.1;
}
h6 {
  padding-top: 8px;
}
.roadmap_icon_container.completed {
  background-color: #4b0dba;
  color: #fff;
}
.step__left,
.step__right {
  width: 28px;
  border: 2px solid #93a4b7;
  border-radius: 10px;
  position: absolute;
}
.roadmap_icon_container:hover .step__left {
  width: 24px;
  left: -28px;
}
.roadmap_icon_container:hover .step__right {
  width: 24px;
}
.step__bottom {
  position: absolute;
  border: 2px solid #93a4b7;
  height: 12px;
  bottom: -16px;
  border-radius: 10px;
}
.step__right {
  left: 40px;
}
.step__left {
  left: -32px;
}
.activity {
  font-weight: 500;
  font-size: 24px;
  color: var(--theme);
}
.task__link {
  max-width: 90%;
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
  word-wrap: break-word;
  color: var(--secondary);
}
.task__toggle {
  display: block;
  background-color: var(--theme);
  cursor: pointer;
  width: 25px;
  height: 25px;
  text-align: center;
  border-radius: 50%;
}
.tagsList {
  display: flex;
  flex-direction: row;
  grid-gap: 12px;
  gap: 12px;
  align-items: center;
  margin-top: 10px;
}
.tagTitle {
  font-weight: 400;
}
.tagItem {
  border: 2px solid #231f20;
  padding: 0 12px;
  border-radius: 80px;
  color: #fff;
  background-color: var(--theme);
  font-size: 14px;
}
.task__area {
  margin-top: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  border: 1px solid #ffd3a2;
  border-radius: 8px;
}
.submission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px;
}
.label__style {
  font-weight: 500;
  line-height: 24px;
  color: #7e8e9f;
}
.formInputs {
  height: 3.4rem;
  width: 100%;
  padding: 12px 16px;
  border: 1px solid var(--secondary);
  border-radius: 8px;
  margin-bottom: 1rem;
  outline: none;
  transition: 0.3s;
}
.formInputs:focus,
.formInputs:hover {
  box-shadow: 0 0 5px var(--theme);
}
.task__submitBtn {
  text-align: center;
}
.task__submitBtn button {
  border: 1px solid var(--theme);
}
.task__submitBtn button:hover {
  background-color: var(--theme);
  color: white;
}
