.navbar__side {
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  z-index: 50;
  transition: 0.3s;
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  user-select: none;
  overflow: hidden;
}
.navbar__side:hover {
  width: 250px;
}
.navbar__side .img {
  padding-left: 9px;
  width: 60px;
}
.nav__header {
  padding: 15px 0;
  transition: 0.3s;
}
.nav__header .user {
  font-size: 24px;
  padding-top: 5px;
}
.nav__header .user,
.nav__title {
  opacity: 0;
  transition: 0.3s;
}
.navbar__side:hover .nav__header {
  padding-left: 10px;
}
.navbar__side:hover .user,
.navbar__side:hover .nav__title {
  opacity: 1;
}
.nav__link {
  list-style: none;
  padding: 1.25rem;
  padding-top: 0;
  height: auto;
}
.navbar__side:hover {
  overflow-y: scroll;
}
.nav__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
  gap: 15px;
  transition: 0.3s;
}
.nav__item .nav__icon {
  padding-left: 4px;
  font-size: 24px;
}
.nav-active,
.nav__item:hover {
  color: var(--theme) !important;
  filter: drop-shadow(0 0 5px var(--theme));
}
.nav__title {
  font-size: 14px;
}
