.navbar__side {
  background-color: rgb(255, 255, 255);
  position: fixed;
  left: 0;
  top: 0;
  width: 70px;
  z-index: 50;
  transition: 0.3s;
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
  user-select: none;
  overflow: hidden;
}
.navbar__side .img {
  padding-left: 9px;
  width: 60px;
}
.nav__header {
  padding: 15px 0;
  transition: 0.3s;
}
.nav__header .user {
  font-size: 24px;
  padding-top: 5px;
}
.nav__header .user,
.nav__title {
  opacity: 0;
  white-space: nowrap;
  transition: 0.3s;
}
.nav__link {
  list-style: none;
  padding: 1.25rem;
  padding-top: 0;
  height: auto;
}
.navbar__side:hover {
  overflow-y: scroll;
}
.nav__item {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--secondary);
  gap: 15px;
  transition: 0.3s;
}
.nav__item .nav__icon {
  padding-left: 4px;
  font-size: 24px;
}
.nav-active {
  color: var(--theme) !important;
  filter: drop-shadow(0 0 5px var(--theme));
}
.nav__item:hover {
  color: var(--green) !important;
}
.nav__title {
  font-size: 14px;
}
.nav__toggle {
  position: fixed;
  top: 75px;
  left: 70px;
  width: 0px;
  height: 0px;
  border-top: 0.5px solid rgba(128, 128, 128, 0.4);
  border-bottom: 0.5px solid rgba(128, 128, 128, 0.4);
  border-right: 0.5px solid rgba(128, 128, 128, 0.4);
  border-radius: 0 5px 5px 0;
  background-color: #fff;
  transition: 0.3s;
  color: var(--theme);
  cursor: pointer;
  opacity: 0;
}
.nav__toggle.active {
  left: 200px;
  top: 12px;
  border: 0.5px solid var(--theme);
  border-radius: 5px;
}
.toggle__menu {
  background-color: var(--theme);
  width: 75%;
  border-radius: 6px;
  height: 3px;
  position: relative;
  transition: 0.3s;
}
.toggle__menu::before {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  content: "";
  top: 8px;
  left: 0;
  background-color: var(--theme);
  transition: 0.3s;
}
.toggle__menu::after {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  content: "";
  top: -8px;
  left: 0;
  background-color: var(--theme);
  transition: 0.3s;
}

.toggle__menu.active {
  background-color: transparent;
}

.toggle__menu.active::after {
  top: 0;
  transform: rotate(45deg);
}
.toggle__menu.active::before {
  top: 0;
  transform: rotate(-45deg);
}
