@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  /* color mode*/
  --theme: #4b0dba;
  --secondary: #3b4286;
  --green: #06aa44;
  --gray: #80808059;
  /* fonts */
  --body-font: "Comfortaa", cursive;
  /* --secont-font: "Comfortaa", cursive; */
  --secont-font: "Poppins", sans-serif;
  /* fonts size */
  --big-font-size: 56px;
  --h1-font-size: 50px;
  --h2-font-size: 32px;
  --h3-font-size: 24px;
  --large-font-size: 18px;
  --normal-font-size: 16px;
  --small-font-size: 15px;
  --smaller-font-size: 14px;
  --tiny-font-size: 12px;
}
.dark-theme {
  --title-color: hsl(0, 0%, 100%);
  --text-color: hsl(0, 0%, 80%);
  --body-color: hsl(0, 0%, 7%);
  --container-color: hsl(0, 1%, 17%);
  --border-color: hsl(0, 0%, 15%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--secont-font);
  transition: 0.3s;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--theme);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background-color: #2d2d2d;
}
body {
  background-color: #f9fbfd;
}

/* reusesable css */
section {
  padding-left: 70px;
}
a {
  text-decoration: none !important;
}
.theme {
  color: var(--theme);
}
.secondaryTheme {
  color: var(--secondary);
}
.form-group {
  position: relative;
}
.errorMessage {
  position: absolute;
  font-size: 0.7rem;
  font-weight: 500;
  color: rgb(145, 3, 3);
}
